@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000000e6;
    color: #ffffff;
}
nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 5%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div.profile-photo {
    width: 50px;
    height: 50px;
    border: 1px solid bisque;
    border-radius: 50%;
}
ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
ul.nav-links li a {
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}
ul.nav-links li a:hover{
    color: #4285f4;
    text-decoration:underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 1rem;
}
img {
    width: calc(35% + 100px);
}

/* Home Page */
div.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 32px;
}

div.home > div.profile-photo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

h2 {
    text-align: center;
}
h2 h1 {
    text-align: center;
}
div.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
div.description h2 span img {
    width: 180px;
}
div.description h2 span {
    font-size: 2.5rem;
}
button{
    padding: 15px 25px;
    border-radius: 40px;
    background: #4285f4;
    border-color: transparent;
    box-shadow: 1px 5px 10px 1px #ffa500;
    color: #ffffff;
}
button:hover {
    box-shadow: 2px 7px 12px 2px #ff4500;
    color: #ff4500;
}
/*Social media icons*/
/*
div.social-media-icons a {
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}
div.social-media-icons a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
      0 0 25px var(--color),
      0 0 50px var(--color),
      0 0 200px var(--color);
}
*/

/* Showcasing projects*/
div.showcase {
    width: 100%;
    height: 250px;
    border: 1px solid grey;
    border-radius: 15px;
}
.container {
    background-color: antiquewhite;
    border: 1px solid black;

}