@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #000000e6;
    color: #ffffff;
}
nav {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 5%;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div.profile-photo {
    width: 50px;
    height: 50px;
    border: 1px solid bisque;
    border-radius: 50%;
}
ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
ul.nav-links li a {
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
}
ul.nav-links li a:hover{
    color: #4285f4;
    text-decoration:underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 1rem;
}
img {
    width: calc(35% + 100px);
}
/* Hamburger Menu*/
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color:#000000e6;
    width: fit-content;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li a:hover{
    color: #4285f4;
    text-decoration:underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 1rem;
}
.menu-links li {
    list-style: none;
}
.menu-links.open {
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px); 
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px); 
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}
/* Home Page */
section.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 32px;
}

section.home-page > div.profile-photo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

h2 {
    text-align: center;
}
h2 h1 {
    text-align: center;
}

div.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
div.description h1 {
    color: #4285f4;
    font-size: 2.5rem;
}
p.intro {
    line-height: 1px;
}
div.description h1 span {
    color: #ffffff;
}
div.description h2 span img {
    width: 180px;
}
div.description h2 span {
    font-size: 2.5rem;
    word-spacing: 8px;
}
button{
    padding: 15px 25px;
    border-radius: 40px;
    background: #4285f4;
    border-color: transparent;
    box-shadow: 1px 5px 10px 1px #ffa500;
    color: #ffffff;
    margin-bottom: 20px;
}
button:hover {
    box-shadow: 2px 7px 12px 2px #ff4500;
    color: #ff4500;
}
/*Social media icons*/
div.social-media-icons {
    display: flex;
}
div.social-media-icons a {
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}
div.social-media-icons a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
      0 0 25px var(--color),
      0 0 50px var(--color),
      0 0 200px var(--color);
}

/* Showcasing projects*/
div.showcase {
    width: 100%;
    height: 250px;
    border: 1px solid grey;
    border-radius: 15px;
}
.container {
    border: 1px solid black;

}

/*Projects section*/
.projects {
    background: #000000;
}
.projects h1 {
    text-align: center;
}
.projects button {
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}
.container-projects {
    width: calc(50% - 10px);
    height: 400px;
    background: #ffffff;
    color: #000000;
    border-radius: 8px;
    margin: 10px;
}
@media (max-width:767px) {
    .container-projects {
        width: calc(100% -20px);
    }
}

/*Services section*/
section.services,
section.about {
    background-color: #ffffff;
    color: #000000;
}
.services.container{
    width: 500px;
    height: 500px;
    border: 1px solid wheat;
    background: black;
    border-radius: 30px;
}
.services-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(5% + 8px);
}
/*About Section*/
/*Contact Section*/